<div class="modal-header">
    <h4 class="modal-title">Create Pin</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="pinForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title*</label>
            <input type="text" class="form-control" id="title" formControlName="title"
                [class.is-invalid]="pinForm.get('title')?.invalid && pinForm.get('title')?.touched">
            <div *ngIf="pinForm.get('title')?.invalid && pinForm.get('title')?.touched" class="invalid-feedback">
                Title is required.
            </div>
        </div>
        <div class="form-group">
            <label for="image">Image*</label>
            <input type="file" class="form-control" id="image" ng2FileSelect [uploader]="uploader"
                formControlName="image"
                [class.is-invalid]="pinForm.get('image')?.invalid && pinForm.get('image')?.touched">
            <div *ngIf="pinForm.get('image')?.invalid && pinForm.get('image')?.touched" class="invalid-feedback">
                Image is required.
            </div>
            <!-- <div class="row">
                <label class="col-sm-3 col-form-label" for="image">Image*</label>
                <div class="col-sm-9">
                    <span class="hidden-file">
                    <input type="file" #fileInput ng2FileSelect [uploader]="uploader" />
                    </span>
                    <div class="btn-group" (click)="fileInput.click()">
                    <button type="button" class="btn btn-primary btn-group-icon btn-group-divider">
                        <i class="ion-plus-round"></i>
                    </button>
                    <button type="button" class="btn btn-primary">Add Image</button>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="form-group">
            <label for="collaborators">Select Collaborators*</label>
            <ngx-select [multiple]="true" [items]="collaborators" formControlName="collaborators"
                optionValueField="optionId" optionTextField="optionTitle" placeholder="Select Collaborators"
                [class.is-invalid]="pinForm.get('collaborators')?.invalid && pinForm.get('collaborators')?.touched">
            </ngx-select>
            <div *ngIf="pinForm.get('collaborators')?.invalid && pinForm.get('collaborators')?.touched"
                class="invalid-feedback">
                Collaborators are required.
            </div>
        </div>
        <div class="form-group">
            <label>Privacy*</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="Public" formControlName="privacy">
                <label class="form-check-label">Public</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="Private" formControlName="privacy">
                <label class="form-check-label">Private</label>
            </div>
            <div *ngIf="pinForm.get('privacy')?.invalid && pinForm.get('privacy')?.touched" class="invalid-feedback">
                Privacy is required.
            </div>
        </div>
        <!-- <button type="submit" class="btn btn-primary">Create Pin</button> -->
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="!pinForm.valid" (click)="onSubmit()">Create Pin</button>
</div>