<div class="container">
    <div class="header">
        <h1>List of Pins</h1>
        <div class="button-container">
            <button (click)="openCustomerModal()">+ Add Customer</button>
            <button (click)="openPinModal()">+ Add Pin</button>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="title-column">Title</th>
                <th class="image-column">Image</th>
                <th class="collaborators-column">Collaborators</th>
                <th class="privacy-column">Privacy</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pin of pins">
                <td class="title-column">{{ pin.title }}</td>
                <td class="image-column"><img [src]="pin.imageUrl" [alt]="pin.title" class="pin-image"></td>
                <td class="collaborators-column">{{ pin.collaborators.join(', ') }}</td>
                <td class="privacy-column">{{ pin.privacy }}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <ng-container></ng-container> -->